<div class="fixed top-0 bottom-0 left-0 right-0 bg-[url('./assets/img/hcmus-bg.jpg')] bg-no-repeat bg-cover bg-center blur-[1px]" >
    <div class="overlap bg-black/20 absolute top-0 bottom-0 left-0 right-0" ></div>
</div>
<div class="h-fit w-[450px] border bg-white rounded-xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-5 space-y-7" >
    <!-- logo -->
    <div class="flex justify-center m-10" >
        <img src="../../../assets/img/hcmus-logo.png" alt="hcmus-logo" class="h-auto w-[150px]">
    </div>
    <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <!-- Email -->
        <div>
            <div class="border border-gray-400 rounded-full overflow-hidden space-x-2 flex items-center" >
                <span class="ml-4" ><i class="fa fa-envelope text-gray-600"></i></span>
                <input type="text" class="outline-none p-3 w-full"  formControlName="email"
                placeholder="Enter Email">
            </div>
            <!-- validate error message -->
            <div *ngIf="email && email.invalid && (email.touched || email.dirty)" class="ml-6 mt-1 font-semibold">
                <span *ngIf="email.errors?.['required']" class="text-rose-500"> Email is required </span>
                <span *ngIf="email.errors?.['email']" class="text-rose-500"> Invalid email format </span> 
            </div>    
        </div>
        
        <!-- Password -->
        <div>
            <div class="border border-gray-400 rounded-full overflow-hidden space-x-2 flex items-center" >
                <span class="ml-4" ><i class="fa fa-lock text-gray-600"></i></span>
                <input type="password" class="outline-none p-3 w-full" placeholder="Password" formControlName="password">
            </div>
            <!-- validate error message -->
            <div *ngIf="password && password.invalid && (password.touched || password.dirty)" class="ml-6 mt-1 font-semibold">
                <span *ngIf="password.errors?.['required']" class="text-rose-500"> Password is required </span>
                <span *ngIf="password.errors?.['minlength']" class="text-rose-500" > Password must be at least 6 characters</span> 
            </div>    
        </div>
        
        <!-- submit -->
        <button type="submit" class="w-full py-3 bg-sky-500 rounded-full hover:bg-sky-300 font-semibold" >Login</button>
    </form>
    <div class="w-full text-center text-gray-500" >Don't have a account? 
        <a [routerLink]="envUrl.register" class="underline hover:text-black cursor-pointer" >register</a>
    </div>
</div>