<div class="h-[57px] border-b border-gray-300 shadow-sm flex items-center p-2 justify-between sticky top-0 bg-white" >
    <!-- menu button -->
    <div class="ml-2" >
        <button> <i class="fa fa-bars text-lg"></i> </button>
    </div>
    
    <!-- user bar - notifycation -->
    <div class="flex items-center space-x-10 mr-10 " >
        <div class="flex items-center relative cursor-pointer" >
            <!-- avater img -->
            <img src="https://i.pravatar.cc/50" class="rounded-full w-[35px] h-[35px]" alt="avatar user">
            <!-- name -->
            <button class="flex items-center space-x-2 ml-3" >
                <span>David Martinez</span>
            </button>
        </div>

        <!-- notification -->
        <div class="relative px-1">
            <i class="fa fa-bell text-lg"></i>
            <!-- dot -->
            <i class="fa fa-circle text-red-400 text-[10px] absolute top-0 right-0 z-20 animate-ping"></i>
            <i class="fa fa-circle text-red-400 text-[10px] absolute top-0 right-0 z-20 "></i>
        </div>
    </div>
</div>