<div class="overlap" *ngIf="openViewtable">
    <div class="fixed top-0 bottom-0 left-0 right-0 bg-black/80 flex flex-col z-[999]">
        <!-- view table header-->
        <div class="w-full text-gray-400 text-lg px-4 py-4 flex items-center justify-between">
            <!-- go back -->
            <div class="space-x-2" >
                <button class=" rounded-full px-2 hover:bg-white/10" (click)="onCloseViewtable()">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <span>Thoi Khoa Bieu Hoc Ky Hai</span>
            </div>

            <!-- search -->
            <div class="flex items-center justify-center text-base flex-1 relative gap-3">
                <!-- search advantage -->
                <button 
                    (click)="onToggleAdvantageSearchTable()"
                    class="rounded-full px-2 ml-5 hover:bg-white/10"
                >
                    <i class="fa fa-filter"></i>
                </button>
                <!-- search input -->
                <div class="px-3 py-1 rounded-full border bg-black border-gray-400 w-1/2" >
                    <input type="text" class="outline-none bg-transparent placeholder:text-center w-full" placeholder="Search Course">
                </div>

                <!-- advantage search table -->
                <div 
                    *ngIf="openAdvantageSearchTable"
                    class="w-[70%] h-fit p-5 bg-white absolute top-full left-1/2 translate-y-1 -translate-x-1/2 z-20 
                    border rounded-lg text-black space-y-4"
                >
                    <h3 class="font-semibold pl-3 border-l-4 border-sky-600 text-lg" >Advanced search</h3>
                    <!-- check box -->
                    <div class="w-full gap-2 flex flex-wrap items-center" >
                        <div class="flex items-center">
                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default checkbox</label>
                        </div>
                        <div class="flex items-center">
                            <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
                        </div>
                        <div class="flex items-center">
                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default checkbox</label>
                        </div>
                        <div class="flex items-center">
                            <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
                        </div>
                    </div>
                    <div class="w-full gap-2 flex flex-wrap items-center" >
                        <div class="flex items-center">
                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default checkbox</label>
                        </div>
                        <div class="flex items-center">
                            <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
                        </div>
                        <div class="flex items-center">
                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default checkbox</label>
                        </div>
                        <div class="flex items-center">
                            <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
                        </div>
                    </div>

                    <!-- select input -->
                    <div class="w-full" >
                        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
                        <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-none">
                          <option selected>Choose a country</option>
                          <option value="US">United States</option>
                          <option value="CA">Canada</option>
                          <option value="FR">France</option>
                          <option value="DE">Germany</option>
                        </select>
                    </div>

                </div>
            </div>

            <!-- export -->
            <div class="space-x-3 flex items-center">
                <button class="rounded-full px-2 hover:bg-white/10">
                    <i class="fa fa-pen"></i>
                </button>
                <button class="rounded-full px-2 hover:bg-white/10">
                    <i class="fa fa-download"></i>
                </button>
                <button class="rounded-full px-2 hover:bg-white/10">
                    <i class="fa fa-print"></i>
                </button>
            </div>
        </div>

        <!-- view table content -->
        <div class="w-full bg-[#E3E1D9] flex-1 overflow-auto mb-1 rounded-md">
            <div class="w-full flex">
                <!-- room col -->
                <div class="w-[4%]">
                    <!-- dummy div -->
                    <div class="h-12 bg-[#B4B4B8] sticky top-0 border border-black/10"></div>
                    <div *ngFor="let item of ['F203','F029','E029','F203','F029','E029','F203','F029','E029']; let i = index"
                        class="h-[70px] border border-black/10 flex flex-col items-center justify-center text-black text-xs font-semibold"
                        [ngClass]="{'bg-[#C7C8CC]': (i % 2 === 0), 'bg-[#B4B4B8]': (i % 2 !== 0)}">
                        <span>{{item}}</span>
                        <span>L.TRUNG</span>
                    </div>
                </div>

                <!-- schedule col / each course -->
                <div *ngFor="let day of weekDay;let i = index" class="w-[7%]">
                    <!-- day -->
                    <div class="h-12 justify-center items-center space-x-2 flex font-semibold 
                        sticky top-0 border border-black/10 text-black text-xs"
                        [ngClass]="{'bg-[#B4B4B8]': (i % 2 !== 0), 'bg-[#C7C8CC]': (i % 2 === 0)}"
                    >
                        <span> {{slicePatternWithComma(day,'_')[0]}}  </span> 
                        <span *ngIf="slicePatternWithComma(day,'_')[1] === 'day' " ><i class="fa fa-sun"></i></span>
                        <span  *ngIf="slicePatternWithComma(day,'_')[1] === 'night' "><i class="fa fa-moon"></i></span>
                    </div>

                    <!-- course  -->
                    <div *ngFor="let course of courses">
                        <div *ngIf="course.day === slicePatternWithComma(day,'_')[0]"
                            routerLink="/app/admin/course-view/1"
                            class="cursor-pointer p-1 h-[70px] flex flex-col text-center border border-black/10 bg-[#F2EFE5] overflow-auto text-xs">
                            <!-- time -->
                            <div>
                                <i class="fa fa-clock mr-1 text-sky-500"></i>
                                <span class="font-semibold my-1"> {{course.timeStart}} - {{course.timeEnd}} </span>
                            </div>
                            <!-- title - address - room -->
                            <div class="flex-1 flex items-center justify-center p-1 bg-white/70 space-y-2">
                                <span class="font-semibold">{{course.name}}</span>

                                <!-- <div class="flex items-center flex-wrap justify-center gap-1">
                                    <i class="fa fa-map-marker-alt text-red-500"></i>
                                    <span>{{course.address}}</span>
                                </div>                           -->

                                <!-- <div class="flex items-center flex-wrap justify-center gap-1">
                                    <i class="fa fa-chalkboard-teacher text-[#74a0bf]"></i>
                                    <span>{{course.teacher}}</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>