<div class="p-3">
    <!-- toolbar -->
    <div class=" mx-4 mt-4 pb-3">
        <div class="mb-5 flex justify-between">
            <h1 class="text-3xl font-semibold border-l-[6px] border-blue-500 pl-3">{{title}}</h1>
            <div>
                <button class="hover:bg-slate-200 rounded-full h-8 w-8"> <i class="fa fa-cog"></i> </button>
            </div>
        </div>

        <div class="flex items-center space-x-3">
            <!-- search -->
            <div class="border w-1/3 flex items-center p-1 rounded-md bg-gray-50 flex-1">
                <input type="text" class="bg-gray-50 w-full outline-none px-2" placeholder="Search">
                <span class="px-2"><i class="fa fa-search"></i></span>
            </div>

            <!-- <button class="bg-sky-500 hover:bg-sky-400 px-3 py-1.5 rounded-md font-semibold text-white">
                <i class="fa fa-paper-plane"></i> Request
            </button> -->
        </div>
    </div>

    <!-- content -->
    <div class="p-3" > 
        <div 
            *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" 
            class="border-t flex p-3"
        >
            <div class="flex-1 flex justify-center items-start p-2" > 
                <button><i class="fa fa-window-close text-2xl text-gray-300 hover:text-red-500"></i></button>
            </div>
            <div class="flex-[12] space-y-1 p-2" >
                <span class="bg-orange-400 p-1 text-white rounded-sm" >Message</span>
                <h2 class="font-semibold text-gray-600" >Darren Smith sent new message</h2>
                <p class="text-gray-500" >set up perspiciatist nde comnis iste natus error sit voluptatem accusiantium dileremque laudantium</p>
                <span class="text-red-500" >Darren</span>
            </div>
            <div class="flex-[2] flex items-start justify-center space-x-2 text-gray-400 p-2" >
                <span> <i class="fa fa-clock"></i> </span>
                <span>24 Nov 2018</span>
                <span>at 9:30 AM</span>
            </div>
        </div>
    </div>
</div>