<div class="p-4 grid grid-cols-2 grid-rows-2 gap-3">

  <!-- [1] Chart Request for the week -->
  <div class="h-fit border rounded-xl p-3 shadow-md overflow-hidden space-y-4">
    <!-- title  -->
    <div class="px-3">
      <h1 class="text-xl font-semibold ">Request statistics for the week</h1>
    </div>

    <!-- date-time -->
    <div class="px-3">
      <div class="px-1 text-[14px] rounded-full bg-black/10 w-fit ml-auto flex items-center gap-3">
        <button class="hover:text-black/60"> <i class="fa fa-angle-left"></i> </button>
        <div>
          <span>15/04/2024</span> <span> - </span> <span>22/04/2024</span>
        </div>
        <button class="hover:text-black/60"> <i class="fa fa-angle-right"></i> </button>
      </div>
    </div>

    <!-- chart -->
    <div class="chart-container h-[300px] w-[300px] mx-auto">
      <canvas id="Mychart">{{ chart }}</canvas>
    </div>

  </div>

  <!-- [2] Request for the week -->
  <div class="h-fit border rounded-xl shadow-md overflow-hidden space-y-4">
    <!-- title  -->
    <div class="px-6 pt-3">
      <h1 class="text-xl font-semibold ">Request for the week</h1>
    </div>

    <!-- list -->
    <div class="relative overflow-x-auto max-h-[351px] overflow-y-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 sticky top-0 left-0 right-0">
          <tr>
            <th scope="col" class="px-6 py-3">
              Type
            </th>
            <th scope="col" class="px-6 py-3">
              Description
            </th>
            <th scope="col" class="px-6 py-3">
              Date
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of [1,2,3,4,1,1,1]"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 ">
            <th scope="row" class="px-6 py-4 font-medium text-sky-500 whitespace-nowrap ">
              Wait
            </th>
            <td class="px-6 py-4">
              Giảng viên A: đổi giờ dạy ngày thứ ba môn PHP cơ sở NVC
            </td>
            <td class="px-6 py-4">
              <span>09:56</span> <br>
              <span>18-04-2024</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- [3] Room Used -->
  <div class="h-fit border rounded-xl py-3 shadow-md overflow-hidden space-y-4">
    <!-- title  -->
    <div class="px-6">
      <h1 class="text-xl font-semibold ">Room Used</h1>
    </div>

    <!-- date-time -->
    <div class="px-6 flex items-start justify-between">
      <!-- left -->
      <div class="flex items-start gap-2" >
        <div class="px-1 text-[14px] rounded-md bg-sky-500 text-white w-fit flex items-center gap-3">
          <button class="hover:text-black/60"> NVC </button>
        </div>

        <div class="px-1 text-[14px] rounded-md bg-black/10 w-fit flex items-center gap-3">
          <button class="hover:text-black/60"> Linh Trung </button>
        </div>
      </div>

      <!-- right -->
      <div class="px-1 text-[14px] rounded-full bg-black/10 w-fit flex items-center gap-3">
        <button class="hover:text-black/60"> <i class="fa fa-angle-left"></i> </button>
        <div>
          <span>15/04/2024</span> <span> - </span> <span>22/04/2024</span>
        </div>
        <button class="hover:text-black/60"> <i class="fa fa-angle-right"></i> </button>
      </div>
    </div>

    <!-- table view -->
    <div class="max-h-[310px] overflow-y-auto border" >
      <table class="border-slate-400 w-full border-separate border-spacing-0 text-center">
        <thead class="sticky top-0 right-0 left-0 border bg-gray-100" >
          <tr>
            <th rowspan="2" scope="col" class="w-[12%] border border-slate-300 p-2"></th>
            <th colspan="2" scope="col" class="w-[12%] border border-slate-300 p-2">Mon</th>
            <th colspan="2" scope="col" class="w-[12%] border border-slate-300 p-2">Tues</th>
            <th colspan="2" scope="col" class="w-[12%] border border-slate-300 p-2">Wed</th>
            <th colspan="2" scope="col" class="w-[12%] border border-slate-300 p-2">Thur</th>
            <th colspan="2" scope="col" class="w-[12%] border border-slate-300 p-2">Fri</th>
            <th colspan="2" scope="col" class="w-[12%] border border-slate-300 p-2">Sat</th>
            <th colspan="2" scope="col" class="w-[12%] border border-slate-300 p-2">Sun</th>
          </tr>
          <tr>
            <th class="border border-slate-300 w-[6%]"><i class="text-yellow-500 fa fa-sun"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-gray-500 fa fa-moon"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-yellow-500 fa fa-sun"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-gray-500 fa fa-moon"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-yellow-500 fa fa-sun"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-gray-500 fa fa-moon"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-yellow-500 fa fa-sun"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-gray-500 fa fa-moon"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-yellow-500 fa fa-sun"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-gray-500 fa fa-moon"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-yellow-500 fa fa-sun"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-gray-500 fa fa-moon"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-yellow-500 fa fa-sun"></i></th>
            <th class="border border-slate-300 w-[6%]"><i class="text-gray-500 fa fa-moon"></i></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]" >
            <td class="border border-slate-300 p-2">F301</td>
            <td *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]" class="border border-slate-300">1</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- section 4 -->
  <div>
    <img src="../../../assets/img/test/4.png" class="w-full h-[406px]" alt="">
  </div>
</div>